body{
  background-color: aqua;

}

h1{
  font-family: sans-serif;
  font-style: italic;
}

textarea{
  background-color: yellow;
}

p{
  font-size: 75%;
  border-style: dotted;
}

footer{
  background-color: purple;
}
